<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Daniel Yu</title>
  <link rel="icon" type="image/jpg" href="images/dy3.ico" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <section id="navbar">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-right navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Daniel Yu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
          </ul>
        </div>
    </nav>
  </section>


  <section id="cover">
    <div class="container-fluid cover-container">
      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <div>
            <p class=letter>Hi I’m Daniel, currently a senior college student at UC Santa Barbara. My major is Applied Mathematics, but I also love computer science and programming. I am looking for a software development internship opportunity to
              utilize my analysis and programming skills.</p>
            <p class=letter>I am fluent in many languages including Python, Java, C++, JavaScript, HTML, CSS, etc and I am familiar with Bootstrap, DOM, jQuery, Node.js, Express, RESTful APIs, Github, EJS, MongoDB, and React.js. I have set up a
              couple of websites to host some of my projects, which illustrate my skills of designing web pages, coding servers, and managing databases.</p>
            <p class=letter>In the blog website project, I built a blog framework where the owner of the blog can write and publish blogs, while readers can read the blog or register for email updates. I used HTML, CSS, Bootstrap, JavaScript to build
              the front end, used Express, EJS, RESTful API to create the back end, used MongoDB and Mongoose to manage blog content and reader registration data, and used Mailchimp to send email updates of new blogs.</p>
            <p class=letter>Last year, I worked on a project where we built a statistical model to predict future GDP. We investigated quarterly economic and demographic data in the past 100 years from various databases and developed an algorithm to
              identify the driving forces of future GDP. We explored and preprocessed data including data visualization, handling missing values, feature encoding, and standardization. Using Python, we wrote code for multiple regressions and
              determined that least-squares regression generated the smallest amount of error. In the end, we created a visual presentation of our findings, enabling the prediction of future GDP.</p>
            <p class=letter>Thank you for your attention, and I look forward to hearing from you. If you need more information, please don’t hesitate to contact me.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="top">
              <h2 class="name">Daniel Yu</h2>
              <img class="circle-img" src="images/daniel4.png" alt="daniel img" />
            </div>
            <div class="bottom">
              <p class="info">650-278-0824</p>
              <p class="info">talldanielyu@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- projects -->

  <section id="projects">
    <h2>Projects</h2>
    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="12000">
          <h3>A blog: the owner can publish and readers can sign up for email update.</h3>
          <img class="projects-img" src="images/lovesun.jpg" alt="sun-image">
          <div>Used HTML, CSS, Bootstrap, JavaScript, Node.js, Express, EJS, RESTful API to develop front-end and back-end.</div>
          <div>Used MoogoDB and Mongoose to manage blog content and reader info.</div>
          <div>Used Mailchimp for email distribution.</div>
          <div><em><a href="https://quiet-oasis-92818.herokuapp.com/">Click to visit the blog website</a></em></div>
        </div>
        <div class="carousel-item">
          <h3 class="projects-text">Have fun with my Simon Says game.</h3>
          <img class="projects-img" src="images/simon.png" alt="simon-says">
          <div>Used HTML, CSS, JavaScript.</div>
          <div><em><a href="https://infinite-ocean-89656.herokuapp.com/">Click to play the Simon Says game</a></em></div>
        </div>
        <div class="carousel-item">
          <div class="carousel-height">
            <h3 class="projects-text">Try out my drum set.</h3>
            <img class="projects-img" src="images/drums.jpg" alt="drum-set">
            <div>Used HTML, CSS, JavaScript, jQuery.</div>
            <div><em><a href="https://stormy-refuge-40150.herokuapp.com/">Click to play the drum set</a></em></div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="6000">
          <h3 class="projects-text">Check the weather of any city over the world.</h3>
          <img class="projects-img" src="images/weather.jpg" alt="city-weather">
          <div>Used HTML, CSS, Bootstrap, JavaScript, Node.js, Express, EJS, API.</div>
          <div>Used weather data from OpenWeather.</div>
          <div><em><a href="http://still-fortress-14734.herokuapp.com/">Click to check weather</a></em></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>


  <!-- Skills -->
  <section id="skills">
    <div class="container-fluid">
      <h2>Skills</h2>
      <div class="row">
        <div class="col-lg-3 skill-box">
          <i class="fas fa-laptop-code fa-4x skill-icon"></i>
          <p>Programming Languages</p>
          <ul>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
            <li>SQL</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
        </div>
        <div class="col-lg-3 skill-box">
          <i class="fas fa-server fa-4x skill-icon"></i>
          <p>Environment, Framework and Libraries</p>
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>Bootstrip</li>
            <li>React.js</li>
            <li>jQuery</li>
            <li>EJS</li>
          </ul>
        </div>
        <div class="col-lg-3 skill-box">
          <i class="fas fa-network-wired fa-4x skill-icon"></i>
          <p>Database and Tools</p>
          <ul>
            <li>MongoDB</li>
            <li>RESTful APIs</li>
            <li>GitHub</li>
            <li>Hyper Terminal</li>
          </ul>
        </div>
        <div class="col-lg-3 skill-box">
          <i class="fas fa-atlas fa-4x skill-icon"></i>
          <p>Mathematics Packages</p>
          <ul>
            <li>MATLAB</li>
            <li>Numpy</li>
            <li>Matplotlib</li>
            <li>SciPy</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action -->
  <section id="resume">
    <h3>Download My Resume</h3>
    <a href="/resume" class="btn btn-dark btn-lg download-buttons"> <i class="fas fa-file"></i> Download</a>
  </section>


  <!-- Footer -->
  <footer id="footer">
    <a href="https://www.linkedin.com/in/itsyangyu"><i class="fab fa-linkedin footer-img"></i></a>
    <a href="https://github.com/kalig0"><i class="fab fa-github footer-img"></i></a>
    <a href="mailto:talldanielyu@gmail.com"><i class="fas fa-envelope-square footer-img"></i></a>

    <p>© Copyright <%= currentYear %> Daniel Yu</p>

  </footer>


</body>

</html>
