<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Daniel Yu</title>
  <link rel="icon" type="image/jpg" href="images/dy3.ico"/>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/1c9ad4b785.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>

<body>


<section id="navbar">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-right navbar-custom">
      <div class="container-fluid">

      <a class="navbar-brand" href="#">Daniel Yu</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>
        </ul>

      </div>
    </nav>
</section>


  <section id="cover">
    <div class="container-fluid cover-container">

      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">

          <div>

            <h3 class=letter>Hi!</h3>


            <p class=letter>I’m Daniel, currently a senior college student at UC Santa Barbara.  My major is Applied Mathematics, but I also love computer science and programming.  I’m always happy to grab milk tea/barbecue/sushi to talk about robots, programming, or new hit games.  Feel free to reach out to me.</p>
            <p class=letter>I have enjoyed all these math courses so far.  Meanwhile I have kept developing my computer programming skills.  I am fluent in many languages including Python, Java, C++, JavaScript, HTML, CSS, etc.  I am familiar with Bootstrap, DOM, jQuery, Node.js, Express, RESTful APIs, Github, EJS, MongoDB, React.js.  Please check out my projects hosted online.</p>
            <p class=letter>Back in high school, I was a core member of an award-winning robotics team that designed and built a remote-operatable autonomous robot.  I coded the controlling module and collaborated with other team members through Github to merge code and solve conflicts.  </p>
            <p class=letter>Life is beautiful at our school compass.  Please find me if you want to have a tennis buddy, a swimming buddy, or a gym buddy.  Ciao!</p>

          </div>
        </div>
        <div class="col-lg-6">


          <div class="card">
            <div class="top">
              <h2 class="name">Daniel Yu</h2>
              <img class="circle-img" src="images/daniel4.png" alt="daniel img" />
            </div>
            <div class="bottom">
              <p class="info">650-278-0824</p>
              <p class="info">talldanielyu@gmail.com</p>
            </div>
          </div>


          <img class="food" src="images/milkTea.png" alt="tea img" />

        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->

  <section id="projects">
    <h2>Projects</h2>
    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselControls" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="25000">
          <h3>Follow my blogs about games, sports, and food. Sign up for email update.</h3>
          <img class="projects-img" src="images/lol.png" alt="lol-image">
          <div>
            <ul>
              <li>Used HTML, CSS, Bootstrap, JavaScript, Node.js, Express, EJS, RESTful API to develp front-end and back-end.</li>
              <li>Used MoogoDB and Mongoose to manage blog content and reader info.</li>
              <li>Used Mailchimp for email distribution.</li>
            </ul>
          </div>
          <div><em><a href="https://quiet-oasis-92818.herokuapp.com/">Click to visit my blog website</a></em></div>
        </div>
        <div class="carousel-item">
          <h3 class="projects-text">Have fun with my Simon game.</h3>
          <img class="projects-img" src="images/simongame.png" alt="simon-game">
          <div>Used HTML, CSS, JavaScript.</div>
          <div><em><a href="https://infinite-ocean-89656.herokuapp.com/">Click to play the Simon game</a></em></div>
        </div>
        <div class="carousel-item">
          <h3 class="projects-text">Try out my drum set.</h3>
          <img class="projects-img" src="images/drums.jpg" alt="drum-set">
          <div>Used HTML, CSS, JavaScript, jQuery.</div>
          <div><em><a href="https://stormy-refuge-40150.herokuapp.com/">Click to play the drum set</a></em></div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <h3 class="projects-text">Check the weather of any city over the world.</h3>
          <img class="projects-img" src="images/weather.jpg" alt="city-weather">
          <ul>
            <li>Used HTML, CSS, Bootstrap, JavaScript, Node.js, Express, EJS, API.</li>
            <li>Used weather data from OpenWeather.</li>
          </ul>
          <!-- <div></div> -->
          <div><em><a href="http://still-fortress-14734.herokuapp.com/">Click to check weather</a></em></div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>

      </button>
    </div>



  </section>


  <!-- Skills -->

  <section id="skills">

    <div class="container-fluid">
      <h2>Skills</h2>
      <div class="row">
        <div class="col-lg-4 skill-box">
          <i class="fas fa-laptop-code fa-4x skill-icon"></i>
          <h3>Programming Languages</h3>
          <table>
          <tr>
            <td>Python</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Java</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>C++</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>JavaScript</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>HTML</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
        </div>

        <div class="col-lg-4 skill-box">
          <i class="fas fa-server fa-4x skill-icon"></i>
          <h3>Environment, Framework and Library</h3>
          <table>
          <tr>
            <td>Node.js</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Express</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Bootstrap</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>React.js</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>jQuery</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>EJS</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
        </div>

        <div class="col-lg-4 skill-box">
          <i class="fas fa-network-wired fa-4x skill-icon"></i>
          <h3>Cloud hosting, Database and Interface</h3>
          <table>
          <tr>
            <td>Github</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>MongoDB</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>SQL</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>RESTful APIs</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Heroku</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Hyper Terminal</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
        </div>

        <div class="col-lg-4 skill-box">
          <i class="fas fa-atlas fa-4x skill-icon"></i>
          <h3>Math Platform and Package</h3>
          <table>
          <tr>
            <td>MATLAB</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Numpy</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Matplotlib</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>SciPy</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
        </div>

        <div class="col-lg-4 skill-box">
          <i class="fas fa-square-root-alt fa-4x skill-icon"></i>
          <h3>Mathematical knowledge</h3>
          <table>
          <tr>
            <td>Statistics</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Linear Algebra</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Calculus</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
          <tr>
            <td>Mathematical Analysis</td>
            <td>⭐⭐⭐⭐⭐</td>
          </tr>
        </table>
        </div>

      </div>
    </div>
  </section>


  <!-- Call to Action -->

  <section id="resume">

    <h3>One-page Resume</h3>
    <a href="/resume" class="btn btn-dark btn-lg download-buttons"> <i class="fas fa-file"></i> Download</a>


  </section>


  <!-- Footer -->

  <footer id="footer">

<a href="https://www.linkedin.com/in/itsyangyu"><i class="fab fa-linkedin footer-img"></i></a>
<a href="https://github.com/kalig0"><i class="fab fa-github footer-img"></i></a>
<a href="mailto:talldanielyu@gmail.com"><i class="fas fa-envelope-square footer-img"></i></a>

    <p>© Copyright 2021 Daniel Yu</p>

  </footer>


</body>

</html>
